*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

.main-icon-size {
    width: 180px;
    height: 45px;
}

.nav-icon-size {
    width: 35px;
    height: 35px;
}

.rev-icon-size {
    width: 50px;
    height: 50px;
}